@import 'reset.scss';
@import url('https://fonts.cdnfonts.com/css/druk-wide-bold');

$main-font: 'Druk Wide Bold', sans-serif;
$text-font: 'Montserrat', sans-serif;
$main-color: #1F2326;
$accent-color: #FF4656;

@mixin flex-x($jc: space-between, $ai: center) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}

@mixin flex-y($jc: start, $ai: center) {
    display: flex;
    flex-direction: column;
    justify-content: $jc;
    align-items: $ai;
}

body {
    background: $main-color;
    overflow-x: hidden;
}

header {
    padding: 45px 75px;
}

.header__container, .header__logos, nav ul, .header__account {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logos {
    gap: 20px;
    hr {
        height: 2px;
        width: 40px;
        rotate: 90deg;
        background: #fff;
    }
}

nav ul {
    gap: 100px;
    li {
        a {
            font-size: 24px;
            font-weight: 900;
            color: #fff;
            font-family: $text-font;
            transition: 1s;
            &:hover {
                color: $accent-color;
                text-decoration: underline;
            }
        }
    }
}

.header__account {
    gap: 30px;
    button {
        box-sizing: content-box;
        border: 2px solid #fff;
        background: transparent;
        padding: 10px;
        border-radius: 10px;
        color: #fff;
        font-family: $text-font;
        font-weight: 700;
        transition: 1s;
        &:hover {
            color: #fff;
            border: none;
            background: $accent-color;
        }
    }
}

footer {
    background-color: $main-color;
    padding: 50px 75px; 
}

.footer__container {
    @include flex-y();
    gap: 50px;
}

.footer__logos {
    @include flex-x();
    gap: 50px;
}

.footer__copyright {
    text-align: center;
    color: white;
    font-family: $text-font;
    width: 55%;
}

main {
    background-color: $accent-color;
    width: 100%;
    height: auto;
    background-size: cover;
    background: $accent-color;
    background-image: url('../images/valorant.jpg');
    background-size: contain;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $accent-color;
        opacity: 0.8;
        pointer-events: none;
        z-index: 1;
    }
}

.main__container {
    z-index: 2;
    position: relative;
    padding: 50px 75px 100px;
    @include flex-y();
}

.clear_cart, .submit_order {
    margin-top: 20px;
    box-sizing: border-box;
    border: 2px solid #fff;
    background: transparent;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-family: $text-font;
    font-weight: 700;
    transition: 1s;
    &:hover {
        color: #fff;
        border: none;
        background: $accent-color;
    }
}

.cart {
    background-color: $main-color;
    padding: 30px 50px;
    border-radius: 20px;
    width: 88%;
    color: white;
    @include flex-y();
}

.cart__menu {
    @include flex-x();
    gap: 50px;
    margin-bottom: 20px;
}

.cart__item {
    width: 80%;
    margin-bottom: 20px;
    hr {
        margin-top: 30px;
        border: 1px solid white;
    }
}

.cart__item__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart__item__btn-increase, .cart__item__btn-decrease {
    box-sizing: border-box;
    border: 2px solid #fff;
    background: transparent;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-family: $text-font;
    font-weight: 700;
    transition: 1s;
    margin: 0 5px;
    width: 50px;
    text-align: center;
    cursor: pointer;
    &:hover {
        color: #fff;
        border: none;
        background: $accent-color;
    }
}

.main__title {
    font-family: $main-font;
    font-size: 48px;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    margin-bottom: 20px;
    background-color: $main-color;
    padding: 15px 30px;
    border-radius: 15px;
}

.cart__item__content {
    @include flex-x();
    gap: 50px;
    img {
        border: 1px solid white;
        padding: 20px;
        border-radius: 20px;
        background-color: #2b2a29;
        width: 400px;
        height: 150px;
        object-fit: contain;
    }
}

.cart__item__info {
    .cart__item__title {
        font-family: $main-font;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.5;
    }
    .cart__item__count, .cart__item__price {
        font-family: $text-font;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.5;
    }
}

.cabinet a {
    color: white;
}