<!DOCTYPE html>
<html lang="ru" ng-app="shopApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/shop.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="../js/shop.js" defer></script>
    <title>Магазин</title>
</head>
<body ng-controller="ShopController">
    <script>
        $(document).ready(function() {
            var currentUser = JSON.parse(localStorage.getItem('currentUser'));
            if (!currentUser) {
                window.location.href = 'login.html';
            }
        });
    </script>
    <header>
        <div class="header__container">
            <div class="header__logos">
                <img src="../images/riot_games_logo.svg" alt="riot_games_logo">
                <hr>
                <img src="../images/valorant_logo.svg" alt="valorant_logo">
            </div>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="shop.html" ng-if="currentUser">Shop</a></li>
                    <li><a href="cart.html" ng-if="currentUser">Cart</a></li>
                </ul>
            </nav>
            <div class="header__account">
                <button class="sign_in" ng-if="!currentUser" onclick="window.location.href='login.html'">Log In</button>
                <button class="sign_up" ng-if="!currentUser" onclick="window.location.href='register.html'">Sign Up</button>
                <button class="cabinet" ng-if="currentUser"><a href="cabinet.html">Cabinet</a></button>
                <button class="sign_out" ng-if="currentUser" ng-click="logout()">Log Out</button>
            </div>
        </div>
    </header>
    <main>
        <div class="main__container">
            <section class="menu">
                <div class="menu__container">
                    <div class="menu__search--enter">
                        <svg viewBox="0 0 19 20"><path fill-rule="evenodd" clip-rule="evenodd" d="M19 18.6l-5.2-5.2C15.2 12 16 10.1 16 8c0-4.4-3.6-8-8-8S0 3.6 0 8s3.6 8 8 8c1.6 0 3.1-.5 4.3-1.3l5.3 5.3 1.4-1.4zM2 8c0-3.3 2.7-6 6-6 1.6 0 3.1.6 4.2 1.8C13.4 4.9 14 6.4 14 8s-.6 3.1-1.8 4.2C11.1 13.4 9.6 14 8 14c-3.3 0-6-2.7-6-6z"></path></svg>
                        <input type="text" class="menu__search__input" placeholder="" ng-model="searchText">
                    </div>
                    <select name="" class="menu__search--options" ng-model="selectedCategory">
                        <option value="">Все категории ▼</option>
                        <option ng-repeat="category in categories" value="{{category}}">{{category}}</option>
                    </select>
                    <div class="menu__sorts">
                        <button class="menu__sort" ng-click="sortKey = 'price'; reverse = !reverse">Price ↕</button>
                        <button class="menu__sort" ng-click="sortKey = 'name'; reverse = !reverse">Name A↔Z</button>
                    </div>
                </div>
            </section>
            <section class="goods">
                <div class="goods__container">
                    <div class="goods__card" ng-repeat="item in items | filter: {name: searchText, category: selectedCategory} | orderBy:sortKey:reverse">
                        <img ng-src="{{item.icon}}" class="goods__card__icon" alt="{{item.name}}">
                        <div class="goods__card__info">
                            <div>
                                <h2 class="goods__card__title">{{item.name}}</h2>
                                <p class="goods__card__subtitle">{{item.price | currency}}</p>
                            </div>
                            <button class="goods__card__btn" ng-click="addToCart(item.id)">Добавить в корзину</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer>
        <div class="footer__container">
            <div class="footer__logos">    
                <img src="../images/riot_games_logo.svg" alt="riot_games_logo">
                <img src="../images/valorant_logo.svg" alt="valorant_logo">
            </div>
            <p class="footer__copyright">© 2020-2024 Riot Games, Inc. RIOT GAMES, VALORANT и все связанные с ними логотипы являются товарными знаками, знаками обслуживания и/или зарегистрированными товарными знаками Riot Games, Inc.</p>
        </div>
    </footer>
</body>
</html>